@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

hr {
  border: 2px solid maroon;
  border-radius: 10px;
}

body {
  background-image: linear-gradient(to left, #C5C5C5, #dcae96);
}

.navbar {
  background-image: linear-gradient(rgb(194, 16, 16), rgb(90, 4, 4));
  display: flex;
  height: 20vh;
  position: sticky;
  flex-direction: row;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.navbar span {
  display: flex;
  margin-left: 28% !important;
}
.navbar .title {
  color: whitesmoke;
  text-shadow: 2px 2px 4px goldenrod;
  margin: auto 0;
  margin-left: 2%;
  text-transform: uppercase;
  font-size: xx-large;
}
.navbar .header-logo {
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 30px;
  margin-top: 13px;
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 100px;
}
.hero .anagram {
  margin: 10px auto;
  padding: 5%;
  margin-bottom: 10%;
  border: 2px rgb(90, 4, 4) solid;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to left, rgb(207, 57, 57), rgb(146, 146, 218));
  border-radius: 20px;
}
.hero .anagram p {
  color: white;
}
.hero .anagram h1 {
  color: rgb(90, 4, 4);
  text-shadow: 5px 5px 4px goldenrod;
  align-items: center;
  margin-bottom: 10px;
}
.hero .anagram #find-btn {
  font-size: x-large;
  padding: 9px 20px;
}
.hero #input {
  border-radius: 15px;
  padding: 15px;
  background-color: transparent;
  border: 2px solid rgb(90, 4, 4);
}
.hero #input::-moz-placeholder {
  color: White;
  font-weight: 600;
  text-transform: uppercase;
}
.hero #input::placeholder {
  color: White;
  font-weight: 600;
  text-transform: uppercase;
}
.hero #input:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 5px dodgerblue;
  color: greenyellow;
}
.hero button {
  background-color: rgb(194, 16, 16);
  color: rgb(228, 220, 220);
  padding: 13px;
  border: 1px solid rgb(194, 16, 16);
  border-radius: 15px;
}
.hero button:hover {
  color: rgb(194, 16, 16);
  background-color: #dcae96;
  cursor: pointer;
  border: 3px solid transparent;
}
.hero .text {
  font-family: "Poppins", sans-serif;
  color: rgb(90, 4, 4);
  text-transform: uppercase;
  margin: 12px auto;
}
.hero .description h1 {
  color: rgb(90, 4, 4);
  margin: auto 0;
  text-transform: uppercase;
  padding-top: 40px;
}
.hero .description p {
  margin: 20px 0;
  font-size: larger;
  text-align: justify;
}
.hero .description .examples .eg {
  font-weight: 700;
  margin-right: 7px;
  font-size: large;
}
.hero form textarea {
  padding: 20px;
  border-radius: 20px;
  border: 1px rgb(90, 4, 4) solid;
}

.footer {
  background-image: linear-gradient(rgb(194, 16, 16), rgb(90, 4, 4));
}
.footer h1 {
  color: whitesmoke;
  text-shadow: 2px 2px 4px goldenrod;
  margin: auto 0;
  margin-left: 2%;
  text-transform: uppercase;
  font-size: larger;
}
.footer p {
  color: white;
}
.footer #copyright {
  text-align: center;
  color: white;
  display: block;
  padding: 10px;
  font-size: smaller;
}
.footer .grid-container {
  display: flex;
  align-items: center;
  padding: 5%;
  justify-content: space-between;
}
.footer .grid-container .grid-item {
  flex-basis: 22%;
}
.footer .grid-container .grid-item a {
  line-height: 2;
}
.footer .grid-container .grid-item h1 {
  margin-bottom: 10px;
  text-shadow: none;
  font-weight: 700;
}
.footer .grid-container .grid-item i {
  margin-right: 10px;
  padding: 8px 0;
}
.footer .grid-container .grid-item span {
  color: rgb(228, 220, 220);
  padding: 7px 0;
}
.footer .footer_contact div {
  display: flex;
  flex-direction: row;
}
.footer .footer_contact div p {
  padding-top: 5px;
}
.footer .tools {
  list-style-type: none;
  line-height: normal;
}
.footer .tools a {
  padding: 4%;
  margin: 2%;
  color: rgb(228, 220, 220);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */